@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Impact.eot');

}
canvas {
	width: 100%;
	font-family: 'Impact';
}
.Group {
	padding: 5px;
}

