
@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Impact.eot'); /* IE9 Compat Modes */
  src: local('Impact'),
       url('../fonts/Impact.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Impact.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Impact.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Impact.ttf') format('truetype'), /* Safari, Android, iOS */
}